<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>4399KOREA</title>
    <link rel="stylesheet" type="text/css" href="http://m.4399.co.kr/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="http://m.4399.co.kr/static/css/4399.css">
    <link rel="stylesheet" type="text/css" href="http://m.4399.co.kr/static/css/dialog.css">
    <link rel="shortcut icon" href="http://www.4399.co.kr/favicon.ico">
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript" src="http://m.4399.co.kr/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://m.4399.co.kr/static/js/m4399_info.js"></script>
    <script type="text/javascript" src="http://m.4399.co.kr/static/js/i4399.js"></script>
    <script type="text/javascript" src="http://m.4399.co.kr/static/js/art_template_native.js"></script>
    <script type="text/javascript" src="http://m.4399.co.kr/static/js/customer_load.js"></script>
</head>
<body>
<div id="wrap">
    <div id="t_header">
        <div id="header">
            <h1 class="logo"><a href="http://4399.co.kr"><img src="http://m.4399.co.kr/static/images/logo.png" alt="4399KOREA"></a></h1>
            <div id="nav">
                <ul class="n_menu">
                    <li><a href="http://4399.co.kr" target="_blank">GAMES</a></li>
                    <li><a href="http://m.4399.co.kr/?ac=help&amp;tab=inquiry" target="_blank">고객센터</a></li>
                </ul>
            </div>
        </div>
    </div>
    <style>
                    .help02 .conbox01 .game .img134{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201904/20190403131947_ldjeob.jpg) top center no-repeat;}
                    .help02 .conbox01 .game .img130{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201812/20181220154922_cljghf.jpg) top center no-repeat;}
                    .help02 .conbox01 .game .img127{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201805/20180518161339_yklbnm.jpg) top center no-repeat;}
                    .help02 .conbox01 .game .img117{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201605/20160509175937_arreoc.jpg) top center no-repeat;}
                    .help02 .conbox01 .game .img129{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201805/20180518165753_mszbib.jpg) top center no-repeat;}
                    .help02 .conbox01 .game .img110{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201508/20150828141947_jewzhy.png) top center no-repeat;}
                    .help02 .conbox01 .game .img109{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201508/20150819115149_ucxzzv.jpg) top center no-repeat;}
                    .help02 .conbox01 .game .img136{width: 360px;height: 164px;}
                    .help02 .conbox01 .game .img133{width: 360px;height: 164px;}
                    .help02 .conbox01 .game .img132{width: 360px;height: 164px;}
                    .help02 .conbox01 .game .img131{width: 360px;height: 164px;}
                    .help02 .conbox01 .game .img126{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201706/20170602152655_wszbpz.jpg) top center no-repeat;}
                    .help02 .conbox01 .game .img116{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201606/20160607122822_agboqv.jpg) top center no-repeat;}
                    .help02 .conbox01 .game .img114{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201604/20160405130801_bpjkpq.jpg) top center no-repeat;}
                    .help02 .conbox01 .game .img105{width: 360px;height: 164px;background: url(http://upload.4399.co.kr/game/201508/20150812125031_hoivwv.jpg) top center no-repeat;}
            </style>
    <div class="container">
        <div class="nav">
            <h2><img src="http://m.4399.co.kr/static/images/menu_help.png" alt="고객센터"></h2>
            <ul class="lnb">
                <li class="lnb06"><a href="http://m.4399.co.kr/?ac=help">FAQ</a></li>
                <li class="lnb07"><a href="http://m.4399.co.kr/?ac=help&amp;tab=inquiry">1:1문의</a></li>
                <li class="lnb09"><a class="on" href="http://m.4399.co.kr/?ac=help&amp;tab=agree">이용약관</a></li>
            </ul>
            <div class="call_center" style="display:none;">
                <p class="title">4399코리아 고객센터</p>
                <p class="number">1544 - 4399</p>
                <p class="fax">FAX. 070 - 8290 - 1037</p>
                <p class="txt">
		    - 운영시간 : 평일 11시 ~ 18시<br>
                    - 휴무안내 : 주말 / 공휴일<br>
		    - 점심시간 : 13:00 ~ 14:30<br>
		    - 결제 및 개인정보 문의만 가능<br>
		    - 게임 문의 : 게임 내 1:1 문의 이용
		</p>
            </div>
        </div>
        <div class="content content00">
            <div class="help01">
                <h3 class="title">문의하기</h3>
                <div class="conbox01" id="containerInfo"><div id="faqWrap">
    <!--검색하기 시작-->
    <div class="search_box01">
        <form id="searchform" data-search="1">
            <fieldset class="faqSearch">
                <p>자주하는 질문</p>
                <select name="param[type]" id="searchtype" title="검색옵션">
                    
                    <option selected="selected" value="title">제목</option>
                    <option value="content">내용</option>
                    
                </select>
                <input id="searchcontent" name="param[content]" type="text" class="faqSearchText" title="검색어 입력" value="검색 내용 입력" size="28" data-default="검색 내용 입력">
                <input type="submit" class="faqSearchBt search_btn" alt="검색" id="faqSearchBtn" value="검색">
            </fieldset>
        </form>
    </div>
    <!-- 이벤트 탭 시작-->
    <div id="Tab" class="search_box02">
        <span class="selectedGame" data-gameidselected="134"></span>
        <ul>
                            <li data-gameid="134" class="search"><a href="javascript:;">파천: 신이 되는 자</a></li>
                            <li data-gameid="130"><a href="javascript:;">불멸강호: 천애신서</a></li>
                            <li data-gameid="127"><a href="javascript:;">리틀빅가디언즈</a></li>
                            <li data-gameid="117"><a href="javascript:;">크래셔 레전드 for kakao</a></li>
                            <li data-gameid="129"><a href="javascript:;">리틀빅가디언즈ios</a></li>
                            <li data-gameid="110"><a href="javascript:;">더 킹: 고결한 기사도ios</a></li>
                            <li data-gameid="109"><a href="javascript:;">더 킹: 고결한 기사도kakao</a></li>
                            <li data-gameid="136"><a href="javascript:;">파천: 신이 되는 자ios</a></li>
                            <li data-gameid="133"><a href="javascript:;">기적의 검ios</a></li>
                            <li data-gameid="132"><a href="javascript:;">기적의 검</a></li>
                            <li data-gameid="131"><a href="javascript:;">천애신서ios</a></li>
                            <li data-gameid="126"><a href="javascript:;">히어로 메이트</a></li>
                            <li data-gameid="116"><a href="javascript:;">크래셔 for kakao ios</a></li>
                            <li data-gameid="114"><a href="javascript:;">크래셔(CRASHER)</a></li>
                            <li data-gameid="105"><a href="javascript:;">더 킹: 고결한 기사도</a></li>
                    </ul>
    </div>
    <!-- 이벤트 탭 끝-->

    <!-- 질문 시작-->
    <div id="faqList" class="conbox02">
        <table cellpadding="0" cellspacing="0" width="660px">
            <tbody>
                
                
                
            </tbody>
        </table>
    </div>
    <p class="list_num paging"><div class="pagination"><div class="page-bottom"></div></div></p>
    <!-- 베스트질문 끝--></div></div><!--百度模板-->
            </div>
        </div>
        <div class="content content01">
            <div class="help02">
                <h3 class="title">문의하기</h3>
                <div class="conbox01">
                                            <div class="conbox01_01">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">파천: 신이 되는 자</div>
                                <div class="img134"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="https://cafe.naver.com/chronicleofgod" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=134" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=134" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_02">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">불멸강호: 천애신서</div>
                                <div class="img130"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="https://cafe.naver.com/eternallovem" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=130" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=130" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_01">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">리틀빅가디언즈</div>
                                <div class="img127"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="http://cafe.naver.com/littlebigguardians" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=127" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=127" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_02">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">크래셔 레전드 for kakao</div>
                                <div class="img117"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="http://cafe.naver.com/crasher4399" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=117" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=117" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_01">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">리틀빅가디언즈ios</div>
                                <div class="img129"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="http://cafe.naver.com/littlebigguardians" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=129" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=129" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_02">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">더 킹: 고결한 기사도ios</div>
                                <div class="img110"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="http://cafe.naver.com/4399theking" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=110" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=110" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_01">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">더 킹: 고결한 기사도kakao</div>
                                <div class="img109"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="http://cafe.naver.com/4399theking" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=109" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=109" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_02">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">파천: 신이 되는 자ios</div>
                                <div class="img136"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="javascript:;">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=136" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=136" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_01">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">기적의 검ios</div>
                                <div class="img133"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="javascript:;">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=133" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=133" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_02">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">기적의 검</div>
                                <div class="img132"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="javascript:;">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=132" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=132" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_01">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">천애신서ios</div>
                                <div class="img131"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="javascript:;">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=131" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=131" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_02">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">히어로 메이트</div>
                                <div class="img126"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="http://cafe.naver.com/heromate4399" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=126" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=126" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_01">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">크래셔 for kakao ios</div>
                                <div class="img116"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="javascript:;">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=116" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=116" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_02">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">크래셔(CRASHER)</div>
                                <div class="img114"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="http://cafe.naver.com/crasher4399" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=114" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=114" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                            <div class="conbox01_01">
                            <div class="game">
                                <div class="txt_bg"></div>
                                <div class="txt">더 킹: 고결한 기사도</div>
                                <div class="img105"></div>
                                <ul class="btn">
                                    <li class="cafe_btn"><a href="http://cafe.naver.com/4399theking" target="_blank">공식카페</a></li>
                                   <!-- <li class="help_btn"><a href="http://4399.co.kr/customer/?ct=inquiry&gameId=105" target="_blank">1:1문의</a></li>-->
                                   <li class="help_btn"><a href="?ct=inquiry&amp;gameId=105" target="_blank">1:1문의</a></li>
                                </ul>
                            </div>
                        </div>
                                    </div>
            </div>
        </div>
        <div class="content content02" style="display: block;">
            <div class="help03">
                <h3 class="title">이용약관</h3>
                <div class="conbox01">
                    <div class="txt">
                        회사에서는 원활한 서비스 제공을 위해 관계법령을 기준으로 약관에 중요 내용을 명시 하였습니다.<br>
                        이용자는 약관 내용을 꼭 숙지하시고 이용해 주시길 당부 드립니다.
                    </div>
                    <ul class="tab_menu">
                        <li class="tab01"><a href="http://m.4399.co.kr/?ac=help&amp;tab=agree&amp;subtab=tab01">이용약관</a></li>
                        <li class="tab02"><a href="http://m.4399.co.kr/?ac=help&amp;tab=agree&amp;subtab=tab02">캐쉬정책</a></li>
                        <li class="tab03"><a href="http://m.4399.co.kr/?ac=help&amp;tab=agree&amp;subtab=tab03">청소년 보호법</a></li>
                        <li class="tab04"><a href="http://m.4399.co.kr/?ac=help&amp;tab=agree&amp;subtab=tab04">개인정보 취급방침</a></li>
                        <li class="tab05"><a href="http://m.4399.co.kr/?ac=help&amp;tab=agree&amp;subtab=tab05">모바일 이용약관</a></li>
                        <li class="tab06"><a class="on" href="http://m.4399.co.kr/?ac=help&amp;tab=agree&amp;subtab=tab06">모바일 개인정보 취급방침</a></li>
                    </ul>
                    <div class="tab_box">
                        <iframe class="info00" src="http://4399.co.kr/template/agreement/use.html" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" style="width: 768px; height: 600px; overflow-x: hidden; display: none;"></iframe>
                        <iframe class="info01" src="http://4399.co.kr/template/agreement/cash.html" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" style="width:768px;height:600px; overflow-x:hidden;display:none;"></iframe>
                        <iframe class="info02" src="http://4399.co.kr/template/agreement/teenager.html" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" style="width:768px;height:600px; overflow-x:hidden;display:none;"></iframe>
                        <iframe class="info03" src="http://4399.co.kr/template/agreement/personal_01.html" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" style="width:768px;height:600px; overflow-x:hidden;display:none;"></iframe>
                        <iframe class="info04" src="http://4399.co.kr/template/agreement/item.html" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" style="width:768px;height:600px; overflow-x:hidden;display:none;"></iframe>
                        <iframe class="info05" src="http://4399.co.kr/template/agreement/info.html" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" style="width: 768px; height: 600px; overflow-x: hidden;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="b_footer">
    <div id="footer">
        <ul class="footer_menu">
            <li><a href="http://m.4399.co.kr/?ac=company" target="_blank">회사소개</a></li>
            <li><a href="http://m.4399.co.kr/?ac=recruit" target="_blank">인재채용</a></li>
            <li><a href="http://m.4399.co.kr/?ac=help&amp;tab=agree" target="_blank">이용약관</a></li>
            <li><a href="http://m.4399.co.kr/?ac=help&amp;tab=agree&amp;subtab=tab02" target="_blank">캐쉬정책</a></li>
            <li><a href="http://m.4399.co.kr/?ac=help&amp;tab=agree&amp;subtab=tab03" target="_blank">청소년보호정책</a></li>
            <li><a href="http://m.4399.co.kr/?ac=help&amp;tab=agree&amp;subtab=tab04" target="_blank">개인정보취급방침</a></li>
        </ul>
        <div class="address">
            <img src="http://m.4399.co.kr/static/images/footer_logo.png" alt="4399KOREA">
            <p>서울특별시 금천구 가산동 543-1 대성 디폴리스 B동 1908호<br>대표이사 <b>DAI XIAOFENG</b>　팩스번호 <b>070-8290-1037</b>　사업자등록번호 <b>113-86-58836</b>　통신판매업신고번호 <b>제2013-서울금천089</b>
        </p></div>
    </div>
</div>
<!--google analytics-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32289508-1']);
  _gaq.push(['_setDomainName', '4399.co.kr']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!--google analytics-->
<script id="faqdisplay_div" type="text/html">
<div id="faqWrap">
    <!--검색하기 시작-->
    <div class="search_box01">
        <form id="searchform" data-search=1>
            <fieldset class="faqSearch">
                <p>자주하는 질문</p>
                <select name="param[type]" id="searchtype" title="검색옵션">
                    <%if(!!searchtype) {%>
                    <option <% if(searchtype == "title") { %> selected="selected"  <%}%> value="title">제목</option>
                    <option <% if(searchtype == "content") { %> selected="selected"  <%}%> value="content">내용</option>
                    <%} else {%>
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <%}%>
                </select>
                <input id="searchcontent" name="param[content]" type="text" class="faqSearchText" title="검색어 입력" value="검색 내용 입력" size="28" data-default="검색 내용 입력"/>
                <input type="submit" class="faqSearchBt search_btn" alt="검색" id="faqSearchBtn" value="검색" />
            </fieldset>
        </form>
    </div>
    <!-- 이벤트 탭 시작-->
    <div id="Tab" class="search_box02">
        <span class="selectedGame" data-gameIdSelected="134"></span>
        <ul>
                            <li data-gameId="134" class="search"><a href="javascript:;">파천: 신이 되는 자</a></li>
                            <li data-gameId="130" ><a href="javascript:;">불멸강호: 천애신서</a></li>
                            <li data-gameId="127" ><a href="javascript:;">리틀빅가디언즈</a></li>
                            <li data-gameId="117" ><a href="javascript:;">크래셔 레전드 for kakao</a></li>
                            <li data-gameId="129" ><a href="javascript:;">리틀빅가디언즈ios</a></li>
                            <li data-gameId="110" ><a href="javascript:;">더 킹: 고결한 기사도ios</a></li>
                            <li data-gameId="109" ><a href="javascript:;">더 킹: 고결한 기사도kakao</a></li>
                            <li data-gameId="136" ><a href="javascript:;">파천: 신이 되는 자ios</a></li>
                            <li data-gameId="133" ><a href="javascript:;">기적의 검ios</a></li>
                            <li data-gameId="132" ><a href="javascript:;">기적의 검</a></li>
                            <li data-gameId="131" ><a href="javascript:;">천애신서ios</a></li>
                            <li data-gameId="126" ><a href="javascript:;">히어로 메이트</a></li>
                            <li data-gameId="116" ><a href="javascript:;">크래셔 for kakao ios</a></li>
                            <li data-gameId="114" ><a href="javascript:;">크래셔(CRASHER)</a></li>
                            <li data-gameId="105" ><a href="javascript:;">더 킹: 고결한 기사도</a></li>
                    </ul>
    </div>
    <!-- 이벤트 탭 끝-->

    <!-- 질문 시작-->
    <div id="faqList" class="conbox02">
        <table cellpadding="0" cellspacing="0" width="660px">
            <tbody>
                <%if(faqInfo['data']) { %>
                <%for(var i=0;i<faqInfo['data'].length;i++){%>
                <tr>
                    <td class="icon"><span class="s_title">질문</span></td>
                    <td class="title">
                        <%if(categoryInfo) {%>
                        <strong>[<%=categoryInfo[faqInfo['data'][i].fcid]['name']%>]</strong>
                        <%}else{%>
                        <strong>[<%=name%>]</strong>
                        <%}%>
                        <a href="javascript:;" data-title="1"><%=faqInfo['data'][i].title%><a>
                    </td>
                </tr>
                <tr class="answer" style="display:none;">
                    <td class="icon"><span class="s_answer">답변</span></td>
                    <td class="title"><%=#faqInfo['data'][i].content%></td>
                </tr>
                <%}%>
                <%}%>
            </tbody>
        </table>
    </div>
    <p class="list_num paging"></p>
    <!-- 베스트질문 끝-->
</script>
<script type="text/javascript">
//jquery ready
$(document).ready(function() {
    var pagenum = 30;
    var selectedGame = 0;
    $("[data-gameId]").live("click",
        function() {
            selectedGame = $(this).attr('data-gameId');
            $(".selectedGame").attr("data-gameIdSelected", selectedGame);
            loadFaq(selectedGame, 0, 1, pagenum);
        }
    );
    $('[data-title]').live("click", function() {
        var _show_tr = $(this).parents("tr").next("tr");
        _show_tr.toggle();
    });
    loadFaq(134, 0, 1, pagenum);
    $("[data-search]").live("submit",
        function() {
            if(!selectedGame){
                selectedGame = 134;
            }
            searchFaq(selectedGame, 0, 1, pagenum);
            return false;
        }
    );

    var subtab = 'tab06';
    $("."+subtab+" a").trigger("click");

}); //jQuery
</script>
</div>


</body></html>